/*VARS*/
body {
  height: 100%;
  width: 100%; }

body, html {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.container {
  background-color: #fff;
  border: 1px solid #000;
  height: 90px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 728px; }
