/*VARS*/
$wide_h: 90px;
$wide_w: 728px;
$black: #000;
$white: #fff;

body {
	height: 100%;
	width: 100%;
};

body, html {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container {
	background-color: $white;
	border: 1px solid $black;
	height: $wide_h;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: $wide_w;
}